.card.bob {
  transform: rotateY(0deg) translateZ(380px); }

.card.pai {
  transform: rotateY(51.42857deg) translateZ(380px); }

.card.pi {
  transform: rotateY(102.85714deg) translateZ(380px); }

.card.song {
  transform: rotateY(154.28571deg) translateZ(380px); }

.card.wo {
  transform: rotateY(205.71429deg) translateZ(380px); }

.card.xie {
  transform: rotateY(257.14286deg) translateZ(380px); }

.card.zhang {
  transform: rotateY(308.57143deg) translateZ(380px); }
