* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html {
    width: 100vw;
    height: 100vh; 
}
.cards {
    width: 200px;
    height: 300px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 20s linear infinite;
    text-align: center;
}


@keyframes spin {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(-360deg); } }

.card {

  perspective: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  position: absolute;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-inner {
  width: inherit;
  height: inherit;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
}
.font,.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 6px;
  border: 1px solid DarkKhaki;
}
.font {
  background: LightGoldenrodYellow;
  transform: rotateY(180deg);
}
.back {
  background: LightGoldenrodYellow;
  transform: rotateY(0);
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  
}

.img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 10px;
}

.name {
    padding: 30px 0 0;
    font-size: 30px;
    text-align: center;
    color: LightSkyBlue;
}

.detial {
    padding: 25px;
    font-size: 16px;
    color: LightSkyBlue;
}